<!DOCTYPE html>
<html lang="eng">
    <head>
            <title>Ernesto Pena | Coding for a Cause</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
            <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,200,300,400,500" rel="stylesheet">
        
    
            <!--<link rel="stylesheet" href="css/icon-font.css">-->
    
            <link rel="stylesheet" type="text/css" href="../static/css/style.css">
            <link rel="shortcut icon" type="image/png" href="../static/img/logo_white.png">
    </head>
    <body>
        <header class="header">
           <div class="logo-box">
                <p class="header-text"><span class="highlight_logo">{EP.dev}</span></p>
               <!-- <img src="../img/logo_crimpson.png" class="logo"> -->
           </div>
           <div class="main-header-div">
                 <p class="header-text">Hello there, I'm <span class="highlight">Ernesto Pena.</span></p>
                 <p class="header-text">A <span class="highlight">hard-driving</span> full-stack web developer.</p>
           </div>

           <nav class="menu-container">
                        <ol> 
                            <li><a href="">About</a></li>
                            <li><a href="">Resume</a></li>
                            <li><a href="">Portfolio</a></li>
                            <li><a href="">Contact</a></li>    
                        </ol>
                    </nav>
        </header>
      


    </body>
</html>